@using Microsoft.AspNet.Identity
@model AmsmProject.Models.ManageUserViewModel

<p>Највени сте како  <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
       <p>Моментална лозинка</p>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <p>Нова лозинка</p>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <p>Потврди лозинка</p>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" style="background-color: yellow; font-family: arial; color: black;font-weight: bold; " value="Смени лозинка" class="btn btn-default" />
        </div>
    </div>
}
