@model AmsmProject.Models.CreditCardInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditCardInfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMBG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiresDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiresDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
